*#
*~
*.o
*.d
emdros_updater
worddb
worddb.sql
ETCBC4_words.db
update.mql
ETCBC4
hintsdb
hintsdb.sql
ETCBC4_hints.db
ETCBC4-before-extra-tenses
build_aram_lex_file
build_heb_es_lex_file
aram_en.csv
obsolete
make_sequence_csv
